#container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 20vh;
}
.tabs-nav ul {
    margin: 0;
    padding: 0;
}
.tabs-nav li {
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    margin-right: 0px;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
}
.tabs-nav li:hover{
 background: #0d66c2;
}
.tabs-nav li.active {
    background: #FFF;
    color: #000;
}

.tabs-nav li.active a {
    color: inherit;
}
/*.tabs-content div:not(:first-child) {*/
/*    display: none;*/
/*}*/

#wp_location_main_wrapper{
    display: flex;
    flex-direction: column;
    width: 98%;
}
#wp_location_main_header{
    background: #f5f5f5;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
#wp_location_main_header h2{
    margin: 0px 0px 5px 0px;
    font-size: 20px;
}
#wp_location_main_header p{
    margin: 0px;
    font-size: 15px;
}
#wp_location_full_container {
    display: flex;
    justify-content: space-between;
}
#wp_location_left_sidebar{
    background: #f5f5f5;
    width: 15%;
    display: inline-block;
}
.wp_location_main_container{
    background: #f5f5f5;
    padding: 50px;
    border: 1px solid #cccccc;
    position: relative;
    width: 50%;
    display: inline-block;
}

#wp_location_right_sidebar{
    background: #f5f5f5;
    padding: 50px;
    width: 20%;
    display: inline-block;
}
#wp_location_main_wrapper button {
    background: #ddd;
    font-size: 18px;
    padding: 10px 15px;
    border: inherit;
    cursor: pointer;
    border-radius: 3px;
    transition: all .3s;
}
div#wp_location_main_wrapper button:hover{
    background: rgba(0, 0, 0, 0.78);
    color:#ffffff;
}
.wp_location_main_container button.top_button {
    position: absolute;
    top: 10px;
    right: 5px;
}
.wp-core-ui select{
    max-width: 30%;
}
.tab_body select{
    width: 100%;
}
.select2-container {
    width: 30% !important;
}
/* Accordion
================================================== */
.wplc_accordion {
    margin-bottom: 10px;
}
.wplc_accordion_card {
    position: relative;
    border-left: 3px solid green;
}
.wplc_accordion_title {
    background: #dfd9d9;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    display: block;
    padding: 15px 15px;
    position: relative;
    text-align: left;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
}

.wplc_accordion_title::after {
     width: 8px;
     height: 8px;
     border-right: 1px solid #4a6e78;
     border-bottom: 1px solid #4a6e78;
     position: absolute;
     right: 20px;
     content: " ";
     top: 17px;
     transform: rotate(-45deg);
     transition: all 0.2s ease-in-out;
 }
.wplc_accordion_title.active::after {
     transform: rotate(45deg);
     transition: all 0.2s ease-in-out;
}
.wplc_accordion_panel {
    background: #dfd9d9;
    color: #000000;
    display: none;
    margin: 0;
    padding: 2em;
    text-align: left;
}



